@CHARSET "UTF-8";

/*
    head background color    #3FA7CB
*/
html{
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    background-color: #EDEDEF;
    height: 100%;
}

table, tbody, tr, td, th {
    border: 0px;
    border-collapse: collapse;
	padding: 0px;
    margin: 0px;
}

input {
    color: #000000;
    text-align: left;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px !important;
    border: 1px solid #CCCCCC;
    padding: 0px 2px 0px 2px;
    margin: 0px; 
    outline: medium none; 
    overflow: hidden; 
    background: white; 
    height: 24px !important;
}
.r-html{
    background: white; 
    font-size: 16px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}

table.r-table-layout {
    border: 0px;
    border-collapse:collapse;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    width:100%;
    height:100%;
}

div.r-wrap{
    position: relative;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.r-layout td{
	padding: 0px 5px 0px 5px;
}

.r-content-cell{
    padding: 0px 5px 0px 5px;
}


.mod-topbar {
    background: url("/static/qbase/img/mod/q_topbar.png?v=19f780ea.png") repeat-x scroll left top transparent;
    height: 50px;
    left: 0;
    padding-bottom: 5px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1023;
}

.mod-page-body {
    height: auto;
    min-height: 100%;
}

.mod-footer {
    clear: both;
    height: 40px;
    margin-top: -40px;
/*
    margin-top: -85px;
    padding: 30px 0 15px;
    */
    position: relative;
    width: 100%;
}

.r-body{
    color: #000000;
    background: #FFFFFF;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    top: 0px;
    left: 0px; 
    width: 1000px;
    height: auto;
    min-width: 1000px;
}

/*
#396B9A
#3FA7CB
*/
.r-head{
    color: #FFFFFF;
    background: #3FA7CB;
    opacity: 0.9;
    /*
    background: -moz-linear-gradient(top, #3FA7CB, rgba(57,107,154, 0.8));
    background: -o-linear-gradient(top, #3FA7CB, rgba(57,107,154, 0.8));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#396B9A), to(rgba(57,107,154, 0.8))) ;
	filter:alpha(opacity=100 finishopacity=80 style=1 startx=0,starty=0,finishx=0,finishy=40) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3FA7CB,endcolorstr=#3FA7CB,gradientType=1);
	-ms-filter:alpha(opacity=100 finishopacity=80 style=1 startx=0,starty=0,finishx=0,finishy=40) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#396B9A,endcolorstr=#3FA7CB,gradientType=1);
	*/
    width: 100%;
    height: 40px;
    text-align: center;
}


.r-head a{
    color: #fff;
    text-decoration: none;
}

.r-head-wrap{
	position: relative;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    width: 1000px;
    height:40px;
    text-align: center;
}

.r-head-content{
    margin: 0px;
    overflow: hidden;
    width: 1000px;
    height:40px;
    text-align: center;
}

.r-head-content td{
    padding-left: 18px;
}

.r-logo{
    background: url(../image/logo-chilun16.png) no-repeat;
    width:16px;
    height:16px;
}

.r-logo-wrap{
    width:150px;
}

.r-logo-content{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.r-logo-content td{
	text-align: center;
}

.r-logo-content .r-logo-title{
}

.r-head-menu-wrap{
    width:300px;
}

.r-head-menu-content{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px;
    overflow: hidden;
    height:30px;
}

.r-head-menu-content td{
    width: 80px;
    margin: 2px 5px 2px 5px ;
}

.r-head-search-wrap{
    width:200px;
}

.r-head-search-content{
    font-size: 16px;
    margin: 0px;
    overflow: hidden;
    height:30px;
}
.r-head-search-content input{
    color: #000000;
    background: #FFFFFF;
}

.r-head-toolbar-wrap{
    width:350px;
}

.r-head-toolbar-content{
    color: #FFFFFF;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    height:30px;
}

.r-head-toolbar-content td{
	padding: 10px;
    margin: 2px 5px 2px 5px ;
}

.r-head-toolbar-content a{
    padding: 2px;
}
/*
396B9A E5E5E5
F5F5F5 E5E5E5
EDEDEF
*/
.r-foot{
    color: #555555;
    font-weight: normal;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 14px;
    background1: #396B9A;
    background1: -moz-linear-gradient(100% 100% 90deg, #FFFFFF, #F8F8F8) repeat scroll 0 0 transparent;
    background: none repeat scroll 0 0 #E0E0E1;
    border-top: 1px solid #D0D0D1;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.r-foot a{
    color: #555555;
    font-weight: normal;
    text-decoration: none;
}

.r-foot td{
    padding: 0px 5px 0px 5px;
    width: 150px;
}

.r-foot-wrap{
    position: relative;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    width: 1000px;
    height:40px;
    text-align: center;
}

.r-foot-content{
    margin: 0px;
    overflow: hidden;
    width: 1000px;
    height:40px;
    text-align: center;
}

.r-input {
    color: #000000;
    text-align: left;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px !important;
    border: 1px solid #CCCCCC;
    padding: 0px 2px 0px 2px; 
    margin: 0px; 
    outline: medium none; 
    overflow: hidden; 
    background: white; 
    height: 24px !important;
    width: 200px;
}

.r-input-focus {
    border: 1px solid #4D90FE;
}

.r-checkbox {
    padding: 0px;
    margin: 0px;
    width: 14px;
    height: 14px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: checkbox;
}

.r-select {
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
    border: 1px inset;
}

a.r-link{
    color: #000000;
    font-size: 14px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}
.r-input-valid{
    background-color: #CCFFCC;
}
.r-input-invalid{
    background-color: #FBE2E2;
}
.r-message-validate{
    color: #FF0000;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 12px;
    text-align: left;
}
.r-message-block{
    color: #FF0000;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 12px;
    text-align: left;
}
.r-username-ok{
    color: #00CC00;
}
.r-pwd-strength-strip{
    color: transparent;
    width: 200px;
    height: 3px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    outline: medium none;
    overflow: hidden;
}
.r-pwd-strength-hint{
    color: #000000;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 12px;
    text-align: left;
}
.r-pwd-blank{
    background-color: transparent;
    border: 1px solid #DDDDDD;
}
.r-pwd-weak{
    background-color: #FF9900;
    border: 1px solid #DDDDDD;
}
.r-pwd-medium{
    background-color: #FFFF66;
    border: 1px solid #DDDDDD;
}
.r-pwd-strong{
    background-color: #99FF66;
    border: 1px solid #DDDDDD;
}
.r-pwd-verystrong{
    background-color: #33CC33;
    border: 1px solid #DDDDDD;
}

a.r-web-link{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.r-hint-inline{
    color: #A0A0A0;
    font-size: 12px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    padding: 0px 2px 0px 2px;
}

.r-hint-side{
    color: #BBBBBB;
    font-size: 12px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    padding: 0px 2px 0px 2px;
}

.r-signin-table{
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    text-align: left;
}

.r-signin-content{
    color: #000000;
    text-align: left;
    
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em !important;
    
    border: 0px; 
    padding: 0px 2px 0px 2px;
    margin: 0px; 
    outline: medium none; 
    overflow: hidden; 
    /*
    background: url(&quot;data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D&quot;) repeat scroll 0% 0% transparent;
    */ 
    height: 1.2em !important;
}

.r-signin-content td {
    height: 30px;
}

.r-signin-prompt{
    font-weight: 500;
	width: 120px;
    height: 30px;
}
.r-signin-input{
    width: 200px;
    height: 30px;
}

.r-signup-table{
    color: #FFFFFF;
    font-size: 14px;
    font: sans-serif;
    text-align: left;
}
.r-signup-content{
    color: #000000;
    text-align: left;
    
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em !important;
    border: 0px solid black; 
    padding: 0px 2px 0px 2px;
    margin: 0px; 
    outline: medium none; 
    overflow: hidden; 
    height: 1.2em !important;
}
.r-signup-prompt{
	font-weight: 500;
    width: 120px;
    height: 40px;
}
.r-signup-input{
    width: 200px;
    height: 40px;
}

.r-quick-access {
    position: absolute;
    top:0px;
    left:0px;
    width: 64px;
    height: 64px;
    border: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background:url(../image/debug-info.png) no-repeat;
}

.r-window {
    position: relative;
    width: 800px;
    height: 660px;
    border: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background: blue;
}

.r-iframe {
    position: relative;
    border: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: auto;
    background: transparent;
}
.r-beta{
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    color: yellow;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);  
    -moz-transform: rotate(-45deg);  
    -o-transform: rotate(-45deg);
    filter1: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071, M12=0.7071, M21=-0.7071, M22=0.7071)";
}
.r-panel-msg{
    position: absolute;
    color: #797979;
    background-color: #FFF;
    border: 1px solid #797979;
    border-radius: 3px;
    width: 300px;
    height: 200px; 
    top: 300px;
    left: 500px;
    overflow-y: scroll;
    z-index: 100000;
}
.r-notification{
	position: absolute;
    color: transparent;
    background-color: #FFF;
    opacity: 0.9;
    width: 150px;
    height1: 100px;
    border: 1px solid #797979;
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 50px;
    left: 950px;
    box-shadow1: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
    z-index: 1000;
}

.r-notification div{
    position: relative;
    opacity: 1;
    text-align: left;
}
.r-notification ul{
	display: block;
    margin: 0px 4px 0px 4px;
    padding: 5px 0px 5px 0px;
}
.r-notification li{
	display: block;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
}
.r-notification span{
    position: static;
    color: #595959;
    background-color: transparent;
}
.r-hidden{
    display: none;
}
.r-display{
    display: block;
}