<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="items" verbose="10" parallel="methods" thread-count="2">
<!--
	<listeners>
	   <listener class-name="priority.PriorityInterceptor" />
	</listeners>
-->
    <test name="all" >
		<groups>
			<run>
			</run>
		</groups>
		<packages>
           <package name="com.realpaas.*" />
		</packages>
    </test>

</suite>
